main{
    display: flex;
    padding: 24px;
  }

  .btn{
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: all 0.4s ease;
  }
  
  .btn-primary{
    background-color: #6d67ca;
    color: #fff;
  }
  
  .btn-primary:hover{
    background-color: #524dd0;
  }

  .btn-icon-primary{
    color: #6d67ca;
    padding: 4px;
    display: inline;
  }
  
  .btn-icon-primary:hover{
    color: #524dd0;
    background-color: #eeecff;
  }
  
  .btn-icon-danger{
    color: #dc2626;
    padding: 4px;
    display: inline;
  }
  
  .btn-icon-danger:hover{
    color: #ef4444;
    background-color: #fee2e2;
  }

  .teams-container {
    /* max-width: 1200px; */
    flex: 1;
    padding: 8px 48px;
  }
  
  .teams-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 48px;
  }

  .teams-list {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .team-card {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .team-members {
    margin-top: 8px;
    align-items: center;
    padding-top: 8px;
    display: flex;
    gap: 8px;
    font-size: 12px;
    flex-wrap: wrap;
  }
  
  .team-member {
    background: #e0f2fe;
    color: #0369a1;
    padding: 2px 8px;
    border-radius: 200px;
    letter-spacing: -0.2px;
  }